{% load i18n %}
    <div id="acc_contacts" dojoType="dijit.layout.AccordionPane" title="{% trans 'Contacts' %}">
	        <form method="post" name="search_form" id="search_form" action="javascript:requestObj();">
		<input dojoType="dijit.form.ComboBox" 
			    id="search" 
			    name="search" 
			    mode="remote"
			    dataUrl="/common/search/?search=%{searchString}"
			    autoComplete="false" style="width:190px; !important" >
		    </input>
	        </form>
	        <div id="todayhotlinks"></div>

		<HR></HR>
		<a href="javascript:loadListForm('common','Person');">{% trans 'People' %}</a><br />
		<a href="javascript:loadListForm('common','Org');">{% trans 'Organizations' %}</a><br />
		<a href="javascript:loadListForm('common','Client');">{% trans 'Clients' %}</a><br />
    </div>
