{% load i18n %}
<div id="acc_trans" dojoType="dijit.layout.AccordionPane" title="{% trans 'References' %}" open=false>
    <div style="overflow: auto">
      <a href="javascript:loadListForm('common','Country','referentab');">{% trans 'Countries' %}</a><br/>
      <a href="javascript:loadListForm('common','Region','referentab');">{% trans 'Regions' %}</a><br/>
      <a href="javascript:loadListForm('common','District','referentab');">{% trans 'Districts' %}</a><br/>
      <a href="javascript:loadListForm('common','Town','referentab');">{% trans 'Towns' %}</a><br/>
      <a href="javascript:loadListForm('common','Tag','referentab');">{% trans 'Tags' %}</a><br/>
      <a href="javascript:loadListForm('common','TagRelation','referentab');">{% trans 'Tag Relations' %}</a><br/>
      <a href="javascript:loadListForm('common','Link','referentab');">{% trans 'Links' %}</a><br/>
      <a href="javascript:loadListForm('common','Phone','referentab');">{% trans 'Phone Number' %}</a><br/>
      <a href="javascript:loadListForm('common','PhoneList','referentab');">{% trans 'Phone List' %}</a><br/>
      <a href="javascript:loadListForm('common','Addresstype','referentab');">{% trans 'Address type' %}</a><br/>
      <a href="javascript:loadListForm('gtd','Incoming','referentab');">{% trans 'Incoming messages' %}</a><br/>
      <a href="javascript:loadListForm('common','Division','referentab');">{% trans 'Divisions' %}</a><br/>
      <a href="javascript:loadListForm('common','Price','referentab');">{% trans 'Price' %}</a><br/>
      <a href="javascript:loadListForm('docs','Contract','referentab');">{% trans 'Contracts' %}</a><br/>
      <a href="javascript:loadListForm('docs','ContractTerm','referentab');">{% trans 'Contract Terms' %}</a><br/>
      <a href="javascript:loadListForm('common','Position','referentab');">{% trans 'Positions' %}</a><br />
      <a href="javascript:loadListForm('common','UserParamDef','referentab');">{% trans 'User Param Def' %}</a><br />
      <a href="javascript:loadListForm('common','UserParam','referentab');">{% trans 'User Params' %}</a><br />
	<br />      
    </div>
</div>

