{% load i18n %}
<div style="overflow: visible !important;">
<div class="paneheader">
    <form id="changelist-search">
	<div><!-- DIV needed for valid HTML -->
	    <label><img src="/site_media/images/search.gif" alt="Search" /></label>
	    <input type="text" size="20" name="q" value="" id="{{ model }}_sbar" />
	    <!-- input id="{{ model }}_sb" type="submit" value="Go" onClick="javascript:loadListForm('{{ app }}','{{ model }}','{{ node }}');"></input -->
	    <input id="{{ model }}_sbut" type="submit" value="Go"></input>

<a href="javascript:loadForm('{{ app }}','{{ model }}');">{% trans 'Add' %}</a>&nbsp;&nbsp;
 {% if has_previous %}
     <a href="javascript:loadListForm('{{ app }}', '{{ model }}', {{ previous }});"><<<</a>
 {% endif %}
      page {{ page }}
 {% if has_next %}
      <a href="javascript:loadListForm('{{ app }}', '{{ model }}', {{ next }});">>>></a> {% endif %}(total pages: {{ pages }}; records: {{ hits }})
	</div>
    </form>

</div>

<div class="pane2" style="width: 780px; height: 390px;">
    <table id="fplist_{{ win_id }}" class="panelist">
	<thead>
	    <tr><th></th><th></th>
		<th> {% trans 'Code' %}</th>
		<th> {% trans 'Name' %}</th>
		<th> {% trans 'Phone' %}</th>
		<th> {% trans 'E-mail' %}</th>
<!--		<th> Город </th>
<th> address </th> -->
		<th>{% trans 'Create' %}</th>
		<th>{% trans 'Mod.' %}</th>
	    </tr>
	</thead>
	<tbody>
	{% for obj in obj_list %}
	    <tr class="{% cycle row1,row2 %}">
		<td><a href="javascript:loadForm('{{ app }}', '{{ model }}', '{{ obj.id }}', '{{ obj.name }}');">
		    <img src="/site_media/images/edit.gif" alt="{% trans 'Edit object' %}"></a></td>
	    <td><a href="javascript:confirmDelObj('{{ app }}','{{ model }}','{{ obj.id }}');">
		    <img src="/site_media/images/trash.gif" alt="{% trans 'Delete object' %}"></a></td>
	    <td>{{ obj.code }}</td>
	    <td><a href="javascript:updateHistory({{obj.id}})">{{obj.name}}</a></td>
	    <td>{{ obj.get_phones }}</td>
	    <td><a href="mailto:{{ obj.email }}">{{ obj.email }}</a></td>
<!--	    <td>{{ obj.town }}</td>
<td>{{ obj.address }}</td> -->
	    <td>{{ obj.createuser }}</td>
	    <td>{{ obj.modifyuser }}</td>
	    </tr>{% endfor %}
	</tbody>
    </table>
</div>

<div id="toolbar" class="footer">
<a href="javascript:loadForm('{{ app }}','{{ model }}');">{% trans 'Add' %}</a>&nbsp;&nbsp;
 {% if has_previous %}
     <a href="javascript:loadListForm('{{ app }}', '{{ model }}', {{ previous }});"><<<</a>
 {% endif %}
      page {{ page }}
 {% if has_next %}
      <a href="javascript:loadListForm('{{ app }}', '{{ model }}', {{ next }});">>>></a> {% endif %}(total pages: {{ pages }}; records: {{ hits }})
</div>
</div>
