{% load i18n %}
<script type='text/javascript'>
</script>

<div class="Person">
<form id="fpform_{{ win_id }}" app="common" model="Person" oid="{{obj.id}}" class="fpform" method="POST" action="."><table>
  <tr><td>
    <label for="id_lastname">Фамилия:</label></td><td>
    {{ form.lastname }}
    {% if form.lastname.errors %}
      *** {{ form.lastname.errors|join:", " }}
    {% endif %}
  </td></tr>

  <tr><td>
    <label for="id_firstname">Имя:</label></td><td>
    {{ form.firstname }}
    {% if form.firstname.errors %}
      *** {{ form.firstname.errors|join:", " }}
    {% endif %}
  </td></tr>

  <tr><td>
    <label for="id_middlename">Отчество:</label></td><td>
    {{ form.middlename }}
    {% if form.middlename.errors %}
      *** {{ form.middlename.errors|join:", " }}
    {% endif %}
  </td></tr>


  <tr><td>
    <label for="id_town">Город:</label></td><td>
<input dojoType="combobox" id="town" name="town" 
			mode="remote" 
			dataUrl="/json/common/Town/?search=%{searchString}"
			value="{{obj.town.name}}"
			selectedValue="{{obj.town.id}}" 
			style="width:200px;" 
			autoComplete="false"></input>  

  </td></tr>

  <tr><td>
    <label for="id_phone2">Телефоны:</label></td><td>
    {{ form.phones }}
    {% if form.phones.errors %}
      *** {{ form.phones.errors|join:", " }}
    {% endif %}
  </td></tr>

  <tr><td>
    <label for="id_email">E-mail:</label></td><td>
    {{ form.email }}
    {% if form.email.errors %}
      *** {{ form.email.errors|join:", " }}
    {% endif %}
  </td></tr>

  <tr><td>
    <label for="id_web">Веб сайт:</label></td><td>
    {{ form.web }}
    {% if form.web.errors %}
      *** {{ form.web.errors|join:", " }}
    {% endif %}
  </td></tr>

  <tr><td>
    <label for="id_im">Коммуникатор:</label></td><td>
    {{ form.im }}
    {% if form.im.errors %}
      *** {{ form.im.errors|join:", " }}
    {% endif %}
  </td></tr>

  <tr><td>
    <label for="id_info">Инфо:</label></td><td>
    {{ form.info }}
    {% if form.info.errors %}
      *** {{ form.info.errors|join:", " }}
    {% endif %}
  </td></tr>

  <tr><td>
    <label for="id_phone">Места работы: </label></td><td>
    {% for emp in obj.employment_list %}
	<a href="javascript:loadForm('common','Org',{{emp.org.id}});">{{ emp.org }}</a>&nbsp;{{emp.position}}&nbsp;{{emp.workphone}}
    {% endfor %}
  </td></tr>
<tr><td colspan="2">
<div class="box">
<button dojoType="Button" onclick="this.setDisabled(true); submitForm(this, 'common','Person',{{ win_id }},'{{obj.id}}','True');"><span>Сохранить и продолжить</span></button>
<button dojoType="Button" onclick="this.setDisabled(true); submitForm(this, 'common','Person',{{ win_id }},'{{obj.id}}');"><span>Сохранить</span></button>
</div>
</td></tr>


</table> 
</form>
<p>{% if obj.createdate %}
		{% trans 'Createdata:' %} {{obj.createdate|date:"F j, Y"}}
		{{obj.createuser.username}}<br/>
    {% endif %}
    {% if obj.modifydate %}
		{% trans 'Modifydata:' %} {{obj.modifydate|date:"F j, Y"}}
		{{obj.modifyuser.username}}<br/>
    {% endif %}

</p><p>&nbsp;</p>
</div>
