<html>
<head>
<style type="text/css">
	@import "/site_media/dojo09/dojo/resources/dojo.css";
	@import "/site_media/dojo09/dijit/themes/soria/soria.css";
</style>
<script type="text/javascript" src="/site_media/dojo09/dojo/dojo.js"
	djConfig = "parseOnLoad:true, isDebug:true, extraLocale:['zh-cn','fr-fr','ja-jp','ar-eg','ru-ru','hi-in','en-us','en-gb']" ></script>
<script type="text/javascript" src="/site_media/js/serpantin.js"></script>
<script language="JavaScript" type="text/javascript">
	//dojo.require("dojo.date.locale");
	dojo.require("dojo.parser");
	dojo.require("dijit.layout.LayoutContainer");
	dojo.require("dijit.layout.ContentPane");
	dojo.require("dijit.layout.TabContainer");
	dojo.require("dijit.layout.SplitContainer");
	dojo.require("dijit.layout.AccordionContainer");
	dojo.require("dijit.form.ComboBox");
	dojo.require("dijit.form.Button");
	dojo.require("dijit.form.DateTextBox");
	dojo.require("dijit.form.FilteringSelect");
	dojo.require("dijit._Calendar");
</script>
</head>
<body class="soria">
	<div dojoType="dojo.data.ItemFileReadStore" jsId="stateStore"
			url="/json/"></div>
	<form method="post">
		<input dojoType="dijit.form.FilteringSelect"
			store="stateStore"
			searchAttr="name"
			name="state1"
			autocomplete="true"
		/>
		<input type="text" name="date1" value="2005-12-30"
			dojoType="dijit.form.DateTextBox"
			constraints="{formatLength:'short', datePattern:'dd.MM.yyyy'}"
			lang="en-gb" />
		<input id="calendar3" dojoType="dijit._Calendar" lang="en-gb">
		<input type="submit" value="Go!" />
	</form>
</body>
</html>
