{% load i18n %}
{% trans "You're receiving this e-mail because you (or someone using your email address) has just created an account at %(site_name)s" %}

{% blocktrans %}Your username is: {{ username }}{% endblocktrans %}
{% blocktrans %}Your password is: {{ password }}{% endblocktrans %}

{% trans "Feel free to change this password by going to this page:" %}

http://{{ domain }}/registration/password_change/

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
